._3dUzU-e2jYGmEyRIQpIk7v {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(97vw);
  padding: 0 1.5vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  height: 4rem; }
  ._3dUzU-e2jYGmEyRIQpIk7v ._3v9XRpw9gPSjvSum8XoEIx {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  ._3dUzU-e2jYGmEyRIQpIk7v ._20FWRWoqjkTNz493SOdi2N {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    line-height: 1.5rem;
    transition: .33s;
    padding: .7rem .5rem .5rem;
    margin-right: .5rem;
    cursor: pointer; }
    ._3dUzU-e2jYGmEyRIQpIk7v ._20FWRWoqjkTNz493SOdi2N:hover {
      color: white; }
  ._3dUzU-e2jYGmEyRIQpIk7v ._1n4hOW9A_O6y0H19ZtKYFY {
    top: 4rem;
    left: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    z-index: 1;
    color: rgba(255, 255, 255, 0.9); }
    ._3dUzU-e2jYGmEyRIQpIk7v ._1n4hOW9A_O6y0H19ZtKYFY div {
      padding: .75rem 2.5%; }
  ._3dUzU-e2jYGmEyRIQpIk7v h1 {
    font-size: 1.25rem;
    letter-spacing: .75rem;
    color: white;
    font-weight: normal; }
  ._3dUzU-e2jYGmEyRIQpIk7v button, ._3dUzU-e2jYGmEyRIQpIk7v input {
    background: rgba(0, 0, 0, 0.16);
    color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 3px;
    padding: .65rem 1rem .75rem;
    font-family: 'Roboto Mono',monospace,sans-serif; }
  ._3dUzU-e2jYGmEyRIQpIk7v button {
    margin-right: .5rem;
    width: 7.5rem; }
  ._3dUzU-e2jYGmEyRIQpIk7v input {
    width: calc(100% - 8rem); }
    ._3dUzU-e2jYGmEyRIQpIk7v input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.9); }
    ._3dUzU-e2jYGmEyRIQpIk7v input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.9); }
    ._3dUzU-e2jYGmEyRIQpIk7v input::placeholder {
      color: rgba(255, 255, 255, 0.9); }

._3vEo6p7r-wA1dpbEC2Cypr {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 2.5rem);
  letter-spacing: .125em;
  font-size: .7em;
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.1);
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  margin: 1px 0;
  color: rgba(255, 255, 255, 0.67); }
  ._3vEo6p7r-wA1dpbEC2Cypr:hover h5 {
    color: #ffd800; }
  ._3vEo6p7r-wA1dpbEC2Cypr .XBnT9cSvsiCaJ9wGIoHcb {
    cursor: pointer;
    font-size: 2rem;
    line-height: 2rem;
    padding-right: .67rem; }
  ._3vEo6p7r-wA1dpbEC2Cypr .qIpttFbv5c4MnXsxKynHL {
    cursor: pointer; }
  ._3vEo6p7r-wA1dpbEC2Cypr h5 {
    letter-spacing: 0;
    font-weight: 500;
    font-size: 1.125em;
    margin-top: 0.33em;
    letter-spacing: .15em;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.9);
    transition: .5s;
    cursor: pointer; }
  ._3vEo6p7r-wA1dpbEC2Cypr ._3b5gicQ9VsJfkd5j6ULk0R {
    color: rgba(255, 255, 255, 0.33); }

#_2cgBMbPvY9OgyfXFKbbBKq {
  background-color: rgba(0, 0, 0, 0.2);
  color: white; }
  #_2cgBMbPvY9OgyfXFKbbBKq h5 {
    color: #ffd800; }

.EO09XfMbahnGUtCAV7bcR {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  color: rgba(255, 255, 255, 0.67);
  overflow: hidden;
  background-color: #7d7d7d; }
  .EO09XfMbahnGUtCAV7bcR .ck1opEvyfPQwH2gN5VFif {
    position: relative; }
  .EO09XfMbahnGUtCAV7bcR img {
    position: absolute;
    right: -43vw;
    bottom: -35vh;
    min-width: 150vw;
    min-height: 150vh;
    -webkit-filter: blur(7.5rem);
            filter: blur(7.5rem);
    z-index: -1; }
  .EO09XfMbahnGUtCAV7bcR ._3_dHCtwwxg0tysb3TEWBMD {
    position: relative;
    color: white;
    height: 1.75rem;
    padding: .25rem 5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2); }
    .EO09XfMbahnGUtCAV7bcR ._3_dHCtwwxg0tysb3TEWBMD button {
      background: rgba(0, 0, 0, 0.16);
      color: rgba(255, 255, 255, 0.67);
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 500;
      padding: .25rem;
      cursor: pointer;
      transition: .5s; }
      .EO09XfMbahnGUtCAV7bcR ._3_dHCtwwxg0tysb3TEWBMD button:hover {
        color: white; }
    .EO09XfMbahnGUtCAV7bcR ._3_dHCtwwxg0tysb3TEWBMD h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 75%;
      font-size: .85rem; }
  .EO09XfMbahnGUtCAV7bcR ._1GAiowyF3m6lRhn4807EZb {
    height: 3rem;
    padding: .25rem 2.5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background: rgba(0, 0, 0, 0.3); }
    .EO09XfMbahnGUtCAV7bcR ._1GAiowyF3m6lRhn4807EZb ._3zkmgfCGgLJn08xpA0upxr {
      font-size: 3rem;
      margin-right: .2rem;
      cursor: pointer;
      transition: .5s; }
      .EO09XfMbahnGUtCAV7bcR ._1GAiowyF3m6lRhn4807EZb ._3zkmgfCGgLJn08xpA0upxr:hover {
        color: #ffd800; }
    .EO09XfMbahnGUtCAV7bcR ._1GAiowyF3m6lRhn4807EZb ._3ECWBbCBbeiPs5aU8oNyzK, .EO09XfMbahnGUtCAV7bcR ._1GAiowyF3m6lRhn4807EZb ._1VWLVjl_iyY5qfjlGGSBxF {
      font-size: 2rem;
      cursor: pointer;
      transition: .5s; }
      .EO09XfMbahnGUtCAV7bcR ._1GAiowyF3m6lRhn4807EZb ._3ECWBbCBbeiPs5aU8oNyzK:hover, .EO09XfMbahnGUtCAV7bcR ._1GAiowyF3m6lRhn4807EZb ._1VWLVjl_iyY5qfjlGGSBxF:hover {
        color: #ffd800; }
    .EO09XfMbahnGUtCAV7bcR ._1GAiowyF3m6lRhn4807EZb ._1VWLVjl_iyY5qfjlGGSBxF:hover {
      opacity: 1; }

.rlWy63KIKh8vtxC47_VMF {
  width: 95vw;
  max-width: 30rem;
  height: 100vh;
  top: 0;
  left: 0;
  color: white;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  padding: 4rem 2.5% 1rem;
  z-index: 10; }
  .rlWy63KIKh8vtxC47_VMF ._1MocDj6kwV07rAJmV1ysif {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(97vw);
    padding: 0 1.5vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    height: 4rem; }
    .rlWy63KIKh8vtxC47_VMF ._1MocDj6kwV07rAJmV1ysif ._3b2zqhHW1Ba6aG9vZjS1it {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.5rem;
      line-height: 1.5rem;
      transition: .33s;
      padding: .7rem .5rem .5rem;
      margin-right: .5rem;
      cursor: pointer; }
      .rlWy63KIKh8vtxC47_VMF ._1MocDj6kwV07rAJmV1ysif ._3b2zqhHW1Ba6aG9vZjS1it:hover {
        color: white; }
    .rlWy63KIKh8vtxC47_VMF ._1MocDj6kwV07rAJmV1ysif h1 {
      font-size: 1.25rem;
      letter-spacing: .75rem;
      color: white;
      font-weight: normal; }
  .rlWy63KIKh8vtxC47_VMF ._2izhjYCOAqhV7HZJipdDSd {
    margin: 1rem 0 1.5rem; }
    .rlWy63KIKh8vtxC47_VMF ._2izhjYCOAqhV7HZJipdDSd span {
      opacity: .4;
      display: block;
      font-size: .8rem;
      margin: .25rem .33rem .25rem; }
  .rlWy63KIKh8vtxC47_VMF ._2h5yd9wu2WoM1cEMws8-8B {
    display: -ms-flexbox;
    display: flex;
    padding: 2px 1rem 2px 2px;
    background: rgba(0, 0, 0, 0.9); }
    .rlWy63KIKh8vtxC47_VMF ._2h5yd9wu2WoM1cEMws8-8B p {
      text-transform: uppercase;
      letter-spacing: .2rem;
      margin: .75rem 0 0;
      font-size: .8rem;
      opacity: .67; }
    .rlWy63KIKh8vtxC47_VMF ._2h5yd9wu2WoM1cEMws8-8B h3 {
      margin: .25rem 0;
      font-size: .9rem;
      font-weight: normal;
      letter-spacing: .025rem; }
    .rlWy63KIKh8vtxC47_VMF ._2h5yd9wu2WoM1cEMws8-8B img {
      margin-right: .75rem; }
  .rlWy63KIKh8vtxC47_VMF ._3ZQg2o65ZQvWey_7oulrLf {
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem 1.5rem;
    margin: 1px 0;
    font-size: .9rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer; }
    .rlWy63KIKh8vtxC47_VMF ._3ZQg2o65ZQvWey_7oulrLf ._3b2zqhHW1Ba6aG9vZjS1it {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-right: 1rem; }
  .rlWy63KIKh8vtxC47_VMF input {
    display: block;
    margin: 0 auto 1rem;
    background: rgba(0, 0, 0, 0.9);
    width: calc(100% - 2rem);
    padding: .67rem 1rem;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Roboto Mono',monospace,sans-serif; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono',monospace,sans-serif;
  color: black; }

body {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll; }
  body #jVOfIjSTHOTjdMVU9u5cX {
    position: fixed;
    height: 4em;
    width: 25em;
    bottom: 0;
    right: 0; }

.xJQbBaWvd66-4Sc_vp_Pt {
  width: 100%;
  max-width: 30em;
  margin: 4rem auto; }
  .xJQbBaWvd66-4Sc_vp_Pt ._1AmlKfvybLGvYFecxI08ZE {
    position: fixed;
    min-width: 150vw;
    min-height: 150vh;
    left: -20vw;
    top: -20vh;
    -webkit-filter: blur(7.5em);
            filter: blur(7.5em);
    z-index: -1; }
  .xJQbBaWvd66-4Sc_vp_Pt #_3aZPU3_hu8y8dzbj2UPa3h {
    display: none; }
  .xJQbBaWvd66-4Sc_vp_Pt #wmo01C1X-CvNg_lvLKqGo {
    height: 1px;
    opacity: 0;
    position: absolute;
    z-index: -10; }
  .xJQbBaWvd66-4Sc_vp_Pt ._1PrcoiiemIvR8klmAVLUIN ._3_Ij03WQP4Q7BczM-s4M1L {
    color: #ffd800;
    padding: 0.5em 0;
    cursor: pointer; }
  .xJQbBaWvd66-4Sc_vp_Pt ._1PrcoiiemIvR8klmAVLUIN ._2GiJdE-5qnXvnQfjNpSaV9 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0; }
    .xJQbBaWvd66-4Sc_vp_Pt ._1PrcoiiemIvR8klmAVLUIN ._2GiJdE-5qnXvnQfjNpSaV9 ._1VCF0jJHinC3gnBlMl4oCM {
      color: white;
      padding: 0.5em 1em;
      cursor: pointer;
      border-top: solid 1px rgba(255, 255, 255, 0.16);
      transition: .25s; }
    .xJQbBaWvd66-4Sc_vp_Pt ._1PrcoiiemIvR8klmAVLUIN ._2GiJdE-5qnXvnQfjNpSaV9 ._1VCF0jJHinC3gnBlMl4oCM:hover {
      color: #ffd800;
      background-color: white; }

